<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Error</title>
</head>
<body>
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
            <h1 th:text="${errorCode}">500</h1>
                <p>Panic! An Errror occured!</p>

            <p th:text="${errorMessage}">java.lang.NullPointerException</p>
        </div>
    </div>
</div>
</body>
</html>
